@model Abc.MvcWebUI.Models.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Your Order Information</h2>
            <p>Please fill out your order details.</p>

            <hr />

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-6">
                        <span class="badge-danger">
                            @User.Identity.Name
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address Description:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.AdresBasligi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">City:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">District:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Semt, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Neighborhood:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Mahalle, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Postal Code:</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form-control" })
                    </div>
                </div>

                <h2>Card Information</h2>
                <hr />
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Card Number:</label>
                    <div class="col-sm-6">
                        <input type="text" id="cardnumber" name="cardnumber" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Expiration Date:</label>
                    <div class="col-sm-6">
                        <input type="text" id="expiration" name="expiration" class="form-control" placeholder="MM/YY" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">CVV:</label>
                    <div class="col-sm-6">
                        <input type="text" id="cvv" name="cvv" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary" >Complete Order</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    function completeOrder() {
        // Simülasyon için rastgele bir durum oluştur
        var isSuccess;

        if (isSuccess) {
            alert("Order completed successfully!");
        } else {
            alert("Order failed. Please try again.");
        }
    }
</script>
